@import "./settings.scss";

.button {
  appearance: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;

  &.default {
    border: solid 2px white;
    background-color: transparent;
    color: white;
  }

  &.kusd {
    border: solid 3px $kolibri-color;
    background-color: white;
    color: $kolibri-color;
    transition: 0.4s;

    &:hover {
      background-color: $kolibri-color;
      color: white;
    }
  }
}
