@import "./settings.scss";

.buttons {
  display: flex;
  gap: 5px;

  &:not(.stack) {
    justify-content: center;
    align-items: center;
  }
  &.stack {
    flex-direction: column;
  }
}

button {
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px;

  &.primary {
    padding: 10px 15px;
    color: $container-bg-color;
    background-color: lighten($container-bg-color, 60);
    border: none;
    transition: 0.3s;

    img {
      height: 1rem;
    }

    &:not(:disabled):hover {
      color: white;
      background-color: $container-bg-color;
    }

    &:disabled {
      background-color: transparent;
    }
  }

  &.mini {
    padding: 5px 10px;
    color: $container-bg-color;
    background-color: lighten($container-bg-color, 60);
    border: none;
    transition: 0.3s;
    font-size: 1rem;

    &:hover {
      color: white;
      background-color: $container-bg-color;
    }

    .material-icons {
      font-size: 1rem;
    }
  }

  &.loading {
    .material-icons {
      animation: loading-rotate 2s ease-out infinite;
    }
  }

  &.success {
    color: white;
    background-color: $success-green;
    border-color: $success-green;
  }
  &.error {
    color: white;
    background-color: $error-red;
    border-color: $error-red;
  }

  &.outline {
    background-color: transparent;
    border: solid 2px $container-bg-color;
    color: $container-bg-color;
  }
}

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
