@import "./settings.scss";

.farm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    padding: 0px;
    margin: 0px;
  }

  .farm-header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.farm-row {
  display: grid;
  grid-template-columns: 30% 45% 25%;
  padding: 30px 20px;
  margin: 20px 0px;
  background-color: $blizzard-blue;
  border-radius: $std-border-radius;
  position: relative;

  &:hover .farm-info .icons img:not(:first-child) {
    margin-left: 5px;
  }

  .farm-info {
    text-align: center;

    .icons {
      margin: 0 auto;

      img {
        width: 48px;
        height: 48px;
        background-color: white;
        border-radius: 50%;
        transition: 0.3s;

        &:not(:first-child) {
          margin-left: -8px;
          border-radius: 50%;
        }
      }
    }

    .farm-info__link {
      margin: 20px 0px;
    }

    .farm-info__tokens-price {
      font-size: 0.8rem;
    }
  }

  .user-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    .bold {
      font-weight: bold;
    }
  }

  .actions {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    .bold {
      font-weight: bold;
    }
  }

  .token-box_expand-less {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

.farm-row-mini {
  display: grid;
  grid-template-columns: 5% 15% 25% 20% 30% 5%;
  align-items: center;
  padding: 30px 20px;
  margin: 20px 0px;
  background-color: $blizzard-blue;
  border-radius: $std-border-radius;
  text-align: center;

  &:hover .icons img:not(:first-child) {
    margin-left: 5px;
  }

  .icons {
    margin: 0 auto;

    img {
      width: 48px;
      height: 48px;
      background-color: white;
      border-radius: 50%;
      transition: 0.3s;

      &:not(:first-child) {
        margin-left: -8px;
        border-radius: 50%;
      }
    }
  }

  div.bold {
    font-weight: bold;
  }
}
