@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap");
@import "./settings.scss";
@import "./buttons.scss";
@import "./farms.scss";
@import "./vaults.scss";

html,
body,
main {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  color: $midnight-blue;
  font-size: 19px;
  letter-spacing: 1px;

  p {
    margin: 5px;
  }
}

main {
  display: grid;
  grid-template-columns: 20% 80%;

  .container {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
  }
}

span.material-icons,
span.material-icons-outlined {
  vertical-align: middle;

  &.loading {
    animation: spin 2s infinite forwards;
    animation-delay: 500;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    font-style: italic;
    text-decoration: underline;
  }
}

.bubbles {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .bubble {
    opacity: 0;
    transform: translateY(200px);
    animation: rise linear;

    img {
      opacity: 0.3;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rise {
  0% {
    opacity: 1;
    transform: translate(0px, 100px);
  }

  10% {
    transform: translate(75px, -150px);
  }

  20% {
    transform: translate(150px, -300px);
  }

  30% {
    transform: translate(75px, -450px);
  }

  40% {
    transform: translate(0px, -600px);
  }

  50% {
    transform: translate(75px, -750px);
  }

  60% {
    transform: translate(150px, -900px);
  }

  70% {
    transform: translate(75px, -1050px);
  }

  80% {
    transform: translate(0px, -1200px);
  }

  90% {
    transform: translate(75px, -1350px);
  }

  100% {
    transform: translate(150px, -1500px);
  }
}

@media (max-width: $mobile-breakpoint) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: 3% 97%;
    justify-items: left;
    align-items: flex-start;

    .container {
      padding: 0px;
      width: 100%;
      height: 100%;
    }
  }

  .bubbles {
    bottom: -100px;

    .bubble {
      transform: translateY(500px);
    }
  }
}
