@import "./settings.scss";

.modal-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: 100;

  .modal-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    z-index: 101;
    background-color: darken($bg-color, 30);
  }

  .modal {
    min-height: 35%;
    max-height: 60%;
    width: 45%;
    border-radius: 10px;
    z-index: 110;
    padding: 30px;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 1fr;
    background-color: white;
    color: $container-bg-color;

    &.graph {
      width: 75%;
    }

    &.small {
      width: 30%;
      min-height: 20%;
      max-height: 20%;
    }

    .modal-title {
      font-size: 1.5rem;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icons {
        margin: 0 auto;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-height: 400px;
      overflow: auto;
      padding: 20px 0px;

      canvas {
        background-color: white;
        height: 300px;
      }

      .modal-line {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 5px;

        input {
          border: solid 1px $container-bg-color;
          border-radius: 10px;
          padding: 5px;
          width: 80%;
          font-size: 1rem;
          outline: none;
        }

        .input-with-button {
          display: grid;
          grid-template-columns: 70% 30%;
          grid-gap: 0px;
          justify-items: stretch;
          border: solid 1px $container-bg-color;
          border-radius: 10px;
          padding: 5px;
          width: 50%;

          &.error {
            border: solid 1px red;
          }

          input {
            border: none;
            outline: none;
            font-size: 1rem;
            color: inherit;
          }

          button {
            border: none;
            background-color: transparent;
            font-size: 0.7rem;
            color: $container-bg-color;
          }
        }

        &.small {
          font-size: 0.7rem;
        }
        &.error {
          color: red;
        }
      }

      .modal-find-stakes-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding: 10px;
      }

      .modal-body__add-stake {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .modal-body__add-stake__input {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          background-color: lighten($container-bg-color, 60);
          padding: 10px 20px;
          margin: 10px;
          border-radius: 10px;

          img.loading {
            -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
            animation: heartbeat 1.5s ease-in-out infinite both;
          }
        }

        .modal-body__add-stake__available-balance {
          background-color: transparent;
          border: none;
          color: inherit;
          font-family: inherit;
          font-size: 0.7rem;
          text-align: right;
          padding-top: 6px;
          cursor: pointer;
        }

        img {
          width: 40px;
          height: 40px;
        }

        input {
          border: none;
          outline: none;
          font-size: 1rem;
          padding: 5px 10px;
          background-color: lighten($container-bg-color, 65);
          text-align: right;
        }
      }

      .modal-body__transfer__input {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: lighten($container-bg-color, 60);
        padding: 10px 20px;
        margin: 10px;
        border-radius: 10px;

        img {
          width: 40px;
          height: 40px;
        }

        input {
          border: none;
          outline: none;
          font-size: 1rem;
          padding: 5px 10px;
          background-color: lighten($container-bg-color, 65);
          text-align: right;
          color: inherit;
        }

        img.loading {
          -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
          animation: heartbeat 1.5s ease-in-out infinite both;
        }

        .modal-body__transfer__available-balance {
          background-color: transparent;
          border: none;
          color: inherit;
          font-family: inherit;
          font-size: 0.7rem;
          text-align: right;
          padding-top: 6px;
          cursor: pointer;
        }
      }
    }

    .modal-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .small-icons {
      padding-right: 10px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
