/*
    COLD COLORS
*/
$midnight-blue: #03045eff;
$dark-cornflower-blue: #023e8aff;
$star-command-blue: #0077b6ff;
$blue-green: #0096c7ff;
$pacific-blue: #00b4d8ff;
$sky-blue-crayola: #48cae4ff;
$middle-blue: #90e0efff;
$blizzard-blue: #ade8f4ff;
$light-cyan: #caf0f8ff;

/*
    WARM COLORS
*/
$rufous: #a3000bff;
$red: #f50010ff;
$international-orange-aerospace: #ff5714ff;
$cyber-yellow: #fbd00eff;
$mustard: #fcdc4dff;
$emerald-green: #50c878;

$std-font-size: 1rem;
$std-border-radius: 0.4rem;
